* {
    padding: 0;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* Header */
header {
    background-color: rgb(5, 55, 66);
    color: white;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

header h1 {
    padding: 22px 0px;
}

/* navbar */

ul {
    list-style: none;
    color: black;
    width: 100%;
    overflow: hidden;
    background-color: rgb(57, 162, 219);
    position: sticky;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: rgb(162, 219, 250);
}

.active {
    background-color: #e8f0f2;
}

li a:hover.active {
    background-color: #e8f0f2;
}


/* content */

.content {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

article img {
    min-height: 450px;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
}

article p {
    margin-top: 20px;
    text-indent: 20px;
}

article h3 {
    padding: 10px;
}

article {
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    border-radius: 3px;
}

aside {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(5, 55, 66);
    margin-top: 5px;
    color: white;
}

@media all and (max-width: 10000px) {
    ul {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    ul li {
        display: inline-block;

    }

    .content {
        display: flex;
        flex-direction: column;
    }

    aside h3,
    table {
        text-align: center;
    }

    table {
        margin: auto;
    }
}